<div class="editor-controls-section options-overview">
  @if (selectedPreviewImageOptions?.type === "settings") {
    <app-editor-slider
      (closeSlider)="onCloseSlider()"
      (valueChange)="onSliderValueChange($event)"
      [selectedPreviewImageOptions]="selectedPreviewImageOptions!"
    />
  }

  @if (isStickerSelected && selectedCategory === "stickers") {
    <button
      type="button"
      class="editor-controls-button option-button"
      (click)="onSelectOption('delete')"
    >
      <img class="option-image" src="/assets/delete-icon.svg" alt="delete" />
    </button>
    <app-save-close-button-group (close)="onClose($event)" />
  }
  @if (
    (!isStickerSelected &&
      isImageChosen &&
      selectedCategory &&
      !selectedPreviewImageOptions) ||
    selectedPreviewImageOptions?.type === "save"
  ) {
    @for (option of categoryOptions[selectedCategory]; track option.id) {
      <button
        type="button"
        class="editor-controls-button option-button"
        (click)="onSelectOption(option.name)"
      >
        <img
          class="option-image"
          [ngClass]="{ 'sticker-icon': selectedCategory === 'stickers' }"
          [src]="option.src"
          [alt]="option.name"
        />
      </button>
    }
  }
</div>
<div class="editor-controls-section">
  @if (isImageChosen && !selectedPreviewImageOptions && !isStickerSelected) {
    @for (category of categories; track category) {
      <button
        type="button"
        class="editor-controls-button"
        (click)="onSelectCategory(category)"
        [appActive]="selectedCategory === category"
      >
        <img
          class="category-image"
          [src]="'/assets/' + category + '-icon.svg'"
          [alt]="category"
        />
      </button>
    }
  }
</div>
