:host {
  display: grid;
  height: 100%;
  grid-template-rows: 21fr 1fr;
}

.editor-controls-section {
  list-style: none;
  display: flex;
  padding-left: 0;
  justify-content: space-between;
}

.options-overview {
  overflow: hidden;
  overflow-x: scroll;
}

.option-button {
  min-width: 7rem;
}

.option-image {
  height: 40px;
}

.editor-controls-button {
  background: #3a015c90;
  color: #fef8f8;
  border: none;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  display: grid;
  place-items: center;
}

.active {
  background: #3a015c;
}
