<header class="editor-header">
  <div class="editor-header-left">
    <img width="30" height="30" [src]="greenEyeUrl" alt="" />
    <h1 class="editor-headline">{{ title }}</h1>
  </div>
  <app-button
    (close)="onCloseEditor()"
    [imageSrc]="closeIconUrl"
    name="Close editor"
  ></app-button>
</header>
@if (previewImage || finalImage) {
  <app-editor-canvas
    #canvasComponent
    [stickers]="stickers"
    [selectedStickers]="selectedStickers"
    [previewImage]="previewImage!"
    [appPreviewImageSettings]="appPreviewImageSettings"
    [selectedCategory]="selectedCategory"
    [finalImage]="finalImage!"
  />
} @else {
  <app-image-upload (setPreviewImage)="setPreviewImage($event)" />
}
<app-editor-controls
  [canvasElement]="canvasElement"
  (sliderValueChange)="onSliderValueChange($event)"
  [isImageChosen]="!!previewImage || !!finalImage"
  (selectedStickerChange)="onSelectedStickerChange($event)"
  (categoryChange)="onCategoryChange($event)"
/>
