<header class="hero-header">
  <img
    class="hero-header-image"
    width="30"
    height="30"
    [src]="greenEyeUrl"
    alt=""
  />
  <h1 class="hero-header-headline">{{ title }}</h1>
  <img
    class="hero-header-image"
    width="30"
    height="30"
    [src]="greenEyeUrl"
    alt=""
  />
</header>
<section class="hero">
  <img class="hero-image" width="300" height="200" [src]="imageUrl" alt="" />
  <p class="hero-text">
    Do you want to add some spooky effects to your images? <br />
    Try out the Haunted Canvas and add some ghostly magic. ✨
  </p>
  <button class="hero-button" (click)="onStartEditor()">Let's start!</button>
</section>
