.hero {
  width: 100%;
  display: grid;
  gap: 3rem;
}

.hero-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 1.2rem;
  gap: 0.5rem;
}

.hero-image {
  display: block;
  width: 100%;
  max-width: 700px;
  height: 15rem;
  object-fit: cover;
}

.hero-text {
  justify-self: center;
  max-width: 18rem;
  text-align: center;
}

.hero-button {
  justify-self: center;
  min-width: 10rem;
  width: 50%;
  max-width: 15rem;
  padding: 0.8rem 2rem;
  background: #3a015c;
  color: #fef8f8;
  border: 2px solid #fef8f880;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}
