<div>
  <label class="label" for="slider">
    {{ selectedOption.name }}
  </label>
  <input
    class="input"
    type="range"
    id="slider"
    min="{{ selectedOption.minValue }}"
    max="{{ selectedOption.maxValue }}"
    value="{{ selectedOption.value }}"
    (change)="onValueChange($event)"
  />
</div>
<div class="button-group">
  <app-button
    (close)="onCloseSlider('close')"
    [imageSrc]="closeIconUrl"
    name="close without saving"
  ></app-button>
  <app-button
    (close)="onCloseSlider('save')"
    [imageSrc]="saveIconUrl"
    name="close with saving"
    [sizeDown]="true"
  ></app-button>
</div>
