.button {
  position: relative;
  background: transparent;
  color: #fef8f8;
  border: none;
  cursor: pointer;
  font-weight: 700;
  padding: 0.5rem;
  text-transform: uppercase;
}

.button-icon {
  width: 40px;
  height: 40px;
}

.close-icon {
  width: 30px;
  height: 30px;
}
