* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #11001c;
  color: #fef8f8;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.5;
  display: grid;
  place-items: center;
  height: 100svh;
}

app-root {
  width: 100%;
}

hero {
  width: 100%;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
